phase1_tools/day06_n8n_LLM/Day06-summarize-and-deliver.json
{
  "name": "ay06-summarize-and-deliver",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "67fe7e6e-0579-410f-abb1-18c5949315de",
      "name": "ManualTrigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a7962df-c340-4809-8e64-f9dbe080ed46",
              "name": "summary",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "d81eecb2-d985-4ae0-8407-13fcdb325b87",
              "name": "input_preview",
              "value": "={{ $('Story Writer').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "2c3f1f00-f7ca-44d5-a14a-ab71331efb7b",
      "name": "Manual Mapping"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18rfgODL6DnChLge6aAWOKJRn1XH-CWs_1v1HAqIEqYY",
          "mode": "list",
          "cachedResultName": "n8n-day06",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18rfgODL6DnChLge6aAWOKJRn1XH-CWs_1v1HAqIEqYY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18rfgODL6DnChLge6aAWOKJRn1XH-CWs_1v1HAqIEqYY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.summary }}",
            "input_preview": "={{ $json.input_preview }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_preview",
              "displayName": "input_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        0
      ],
      "id": "212cd2aa-374f-4854-a47e-f66e19a1ae0d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XBKAUj8Jj4v8dDJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Write me a 500-word essay about anything\" }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        0
      ],
      "id": "4e5847a0-baf0-4fdf-81b4-a3fb7e9d5944",
      "name": "Story Writer",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yEuFXlUwRpvJl9V3",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \n      \"role\": \"user\", \n      \"content\": {{ JSON.stringify(\"Summarize in exactly 5 bullets:\\n\\n\" + $json.choices[0].message.content) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "id": "2b4169b4-25ba-4aee-8a7c-f485d7a8a94d",
      "name": "Story Summarizer",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yEuFXlUwRpvJl9V3",
          "name": "Groq API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ManualTrigger": {
      "main": [
        [
          {
            "node": "Story Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Mapping": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Writer": {
      "main": [
        [
          {
            "node": "Story Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Summarizer": {
      "main": [
        [
          {
            "node": "Manual Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbed2c5e-0d9b-4336-be18-c4e83f9c7b31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e904d1734ebbf993bd808e0e0345a75a5fca630950f5c4a6c27501a0190e5a51"
  },
  "nodeGroups": [],
  "id": "O6m8naUpRRGGCn7u",
  "tags": []
}