phase1_tools/week3_plan/automation3_files/day18-file-report-hardening.json
{
  "name": "day18-file-report-hardening",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Aq4jUzJzCh9qXW60xaA3Gke2KfjAOk1s",
          "mode": "list",
          "cachedResultName": "day17-inbox",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Aq4jUzJzCh9qXW60xaA3Gke2KfjAOk1s"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e9763717-aab9-4cf1-be6c-df660d38a636",
      "name": "day17-file-report",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qQMls5vT6jBiJ5pf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "dc483889-c44a-4758-8f22-275bb009b276",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qQMls5vT6jBiJ5pf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "3b8ec16f-d565-42e5-9989-d376ffe29f82",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \n      \"role\": \"system\", \n      \"content\": \"You turn raw notes into a structured report. Reply with ONLY a valid JSON object (no markdown, no commentary) using exactly these keys: overview (string, 2-3 sentence overview), key_findings (array of strings), action_items (array of strings).\" \n    },\n    { \n      \"role\": \"user\", \n      \"content\": \"Turn these raw notes into a structured report. Notes:\\n\\n\" + $json.text \n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "ddd40685-3b97-4ca6-ad28-56eb3efc46e9",
      "name": "HTTP Request",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PjeGuEJYS6iBXYeN",
          "name": "n8n Academy API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfabb9bd-ff19-46f7-9a92-b268a0e5f49a",
              "name": "filename",
              "value": "={{$('day17-file-report').item.json.name}} ",
              "type": "string"
            },
            {
              "id": "f2040807-0df1-4362-a4c9-edfd2e2acbe1",
              "name": "overview",
              "value": "={{JSON.parse($json.choices[0].message.content).overview}}",
              "type": "string"
            },
            {
              "id": "fa5d4366-4b7b-44ad-ae5d-3124e055513a",
              "name": "key_findings",
              "value": "={{ JSON.parse($json.choices[0].message.content).key_findings.join(' | ') }}",
              "type": "string"
            },
            {
              "id": "5c393586-c03f-4cf3-9f99-b01814928675",
              "name": "action_items",
              "value": "={{ JSON.parse($json.choices[0].message.content).action_items.join(' | ') }}",
              "type": "string"
            },
            {
              "id": "356a71e9-6b91-4571-97f6-733e73c0dc09",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -16
      ],
      "id": "677756b4-9718-4c7f-8824-efd66ad7b8af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19St7dGd6Zmxjmk1afTqDjarJpYpGx4czc7cu-l4KLnU",
          "mode": "list",
          "cachedResultName": "reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19St7dGd6Zmxjmk1afTqDjarJpYpGx4czc7cu-l4KLnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19St7dGd6Zmxjmk1afTqDjarJpYpGx4czc7cu-l4KLnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $json.filename }}",
            "overview": "={{ $json.overview }}",
            "key_findings": "={{ $json.key_findings }}",
            "action_items": "={{ $json.action_items }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overview",
              "displayName": "overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_findings",
              "displayName": "key_findings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_items",
              "displayName": "action_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -16
      ],
      "id": "4fe9ef42-c69f-471f-b178-a453521ff8c8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XBKAUj8Jj4v8dDJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ramosjohnmichael61@gmail.com",
        "subject": "=Report Ready:  {{ $json.filename }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Meeting Report</title>\n<style>\nbody { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 20px; background-color: #f9fafb; }\n.container { max-width: 600px; margin: 0 auto; background: #ffffff; border: 1px solid #e5e7eb; border-radius: 6px; padding: 24px; box-shadow: 0 1px 3px rgba(0,0,0,0.05); }\nh2 { color: #111827; font-size: 18px; font-weight: 600; margin-top: 0; border-bottom: 2px solid #f3f4f6; padding-bottom: 12px; text-transform: uppercase; letter-spacing: 0.05em; }\nh3 { color: #4b5563; font-size: 13px; margin-bottom: 8px; margin-top: 24px; text-transform: uppercase; letter-spacing: 0.05em; font-weight: 700; }\np { margin-top: 0; color: #374151; font-size: 14px; }\n.item-list { padding: 0; margin: 0; list-style-type: none; }\n.finding-item { padding: 10px 14px; background: #f8fafc; border-left: 4px solid #64748b; border-radius: 0 4px 4px 0; margin-bottom: 8px; font-size: 14px; color: #374151; }\n.action-item { padding: 10px 14px; background: #f0fdf4; border-left: 4px solid #16a34a; border-radius: 0 4px 4px 0; margin-bottom: 8px; font-size: 14px; color: #374151; }\n.footer { margin-top: 32px; font-size: 11px; color: #9ca3af; text-align: center; border-top: 1px solid #f3f4f6; padding-top: 16px; letter-spacing: 0.02em; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n<h2>Structured Notes Report</h2>\n\n<h3>Overview</h3>\n<p>{{ $json.overview }}</p>\n\n<h3>Key Findings</h3>\n<ul class=\"item-list\">\n{{ $json.key_findings.split(' | ').map(finding => `<li class=\"finding-item\">${finding}</li>`).join('') }}\n</ul>\n\n<h3>Action Items</h3>\n<ul class=\"item-list\">\n{{ $json.action_items.split(' | ').map(action => `<li class=\"action-item\">${action}</li>`).join('') }}\n</ul>\n</div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -16
      ],
      "id": "98562731-349e-452a-b903-19526f735eb5",
      "name": "Send a message",
      "webhookId": "51b0168b-a4d7-4e1e-ad93-c4afc4b8837e",
      "credentials": {
        "gmailOAuth2": {
          "id": "hS2j80w6Iq4jPPMX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2eaf5c00-1860-4c05-b8ef-c3864efbc877",
              "name": "alert",
              "value": "='File report failed: ' + ( {{ $json.error.message }}  || 'unknown error')",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        192
      ],
      "id": "f11804df-df88-4943-a2c1-cc97eb67d410",
      "name": "Build Alert"
    },
    {
      "parameters": {
        "sendTo": "ramosjohnmichael61@gmail.com",
        "subject": "Alert!!",
        "message": "={{ \n  (() => {\n    try {\n      const jsonMatch = $json.alert.match(/(\\{.*\\})/);\n      if (jsonMatch) {\n        const cleanJsonString = jsonMatch[1]\n          .replace(/\\\\\"/g, '\"')\n          .replace(/\\\\n/g, '');\n        \n        const errorObj = JSON.parse(cleanJsonString);\n        const errorDetails = errorObj.error || {};\n\n        // Extract the error code (e.g., 401) from the raw alert text\n        const statusMatch = $json.alert.match(/(\\d{3})/);\n        const statusCode = statusMatch ? statusMatch[1] : 'N/A';\n\n        return `\n          <div style=\"font-family: Arial, sans-serif; max-width: 600px; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.05);\">\n            <div style=\"background-color: #e53e3e; color: white; padding: 15px 20px; font-size: 18px; font-weight: bold;\">\n              ⚠️ Content Pipeline Failure Alert\n            </div>\n            <div style=\"padding: 20px; background-color: #f7fafc;\">\n              <table style=\"width: 100%; border-collapse: collapse; background: white; border-radius: 6px; overflow: hidden;\">\n                <tr style=\"border-bottom: 1px solid #edf2f7;\">\n                  <td style=\"padding: 12px 15px; font-weight: bold; color: #4a5568; width: 30%;\">Status Code:</td>\n                  <td style=\"padding: 12px 15px; color: #e53e3e; font-weight: bold;\">${statusCode}</td>\n                </tr>\n                <tr style=\"border-bottom: 1px solid #edf2f7;\">\n                  <td style=\"padding: 12px 15px; font-weight: bold; color: #4a5568;\">Error Message:</td>\n                  <td style=\"padding: 12px 15px; color: #2d3748; font-weight: 500;\">${errorDetails.message || 'N/A'}</td>\n                </tr>\n                <tr style=\"border-bottom: 1px solid #edf2f7;\">\n                  <td style=\"padding: 12px 15px; font-weight: bold; color: #4a5568;\">Error Type:</td>\n                  <td style=\"padding: 12px 15px; color: #4a5568; font-family: monospace;\">${errorDetails.type || 'N/A'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 12px 15px; font-weight: bold; color: #4a5568;\">Error Code:</td>\n                  <td style=\"padding: 12px 15px; color: #718096; font-family: monospace;\">${errorDetails.code || 'N/A'}</td>\n                </tr>\n              </table>\n            </div>\n            <div style=\"background-color: #edf2f7; padding: 12px 20px; text-align: right; font-size: 11px; color: #a0aec0;\">\n              System Alert • Generated automatically\n            </div>\n          </div>\n        `;\n      }\n    } catch (e) {\n      // Fallback\n    }\n    return `<h3>File Report failed</h3><p>${$json.alert}</p>`;\n  })()\n}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        192
      ],
      "id": "0a7e3fb7-dd20-43bb-99ab-9132766c42cd",
      "name": "Send a message1",
      "webhookId": "e46ac72b-affc-4875-9b76-76cab88250ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "hS2j80w6Iq4jPPMX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "day17-file-report": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "34068b81-d33f-487e-a649-e2c64d7321b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e904d1734ebbf993bd808e0e0345a75a5fca630950f5c4a6c27501a0190e5a51"
  },
  "nodeGroups": [],
  "id": "6ty5nwJhyE9jOYs2",
  "tags": []
}