phase1_tools/week3_plan/automation2_leads/day16-lead-capture-hardening.json
{
  "name": "day16-lead-capture-hardening",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "87004539-2376-4eac-833f-4ee152dac25a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "5622a967-fed8-4cc4-87d5-1d48566257c1",
      "name": "Webhook",
      "webhookId": "87004539-2376-4eac-833f-4ee152dac25a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You qualify sales leads. Reply with ONLY a valid JSON object (no markdown, no commentary) using exactly these keys: qualification (string, one of: hot, warm, or cold), priority (string, one of: high, medium, or low), summary (string, one sentence).\" },\n    { \"role\": \"user\", \"content\": \"Qualify this sales lead. Name: {{ $json.body.name }}. Company: {{ $json.body.company }}. Message: {{ $json.body.message }}.\" }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        16
      ],
      "id": "cb776a86-c288-4e63-8b13-18b3326a3e80",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yEuFXlUwRpvJl9V3",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\",\n  \"qualification\": \"{{ $json.qualification }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        -16
      ],
      "id": "008051c8-d4ec-4e96-baeb-5ff380aaf2c1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "64290729-ff36-446d-a1d4-9e2784cc1e4c",
              "leftValue": "={{ $json.qualification }}",
              "rightValue": "hot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "24f1ac31-64d3-4f33-9f1a-e4d03ace3b3c",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ramosjohnmichael61@gmail.com",
        "subject": "=🔥 Hot lead:  {{ $json.name }}",
        "message": "={{ $json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1264,
        -16
      ],
      "id": "4677efd9-93f9-46b5-82de-01b8b5b9f960",
      "name": "Send a message",
      "webhookId": "fb5b062c-d95b-4747-a434-e5dc6d0a6d81",
      "credentials": {
        "gmailOAuth2": {
          "id": "hS2j80w6Iq4jPPMX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = JSON.parse($json.choices[0].message.content);\nreturn { json: {\n  name: $('Webhook').item.json.body.name,\n  email: $('Webhook').item.json.body.email,\n  company: $('Webhook').item.json.body.company,\n  message: $('Webhook').item.json.body.message,\n  qualification: c.qualification,\n  priority: c.priority,\n  summary: c.summary,\n  created_at: $now.toISO()\n} };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "f5abd056-f857-455e-8519-373bdf1502fc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fa68176-33da-4cb5-80da-90139a41bb42",
              "leftValue": "={{ $('Webhook').item.json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1bb377c4-33db-4486-b1c7-a431aa76c503",
              "leftValue": "={{ $('Webhook').item.json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        16
      ],
      "id": "e4a96181-fd58-451f-8222-01f31281bc08",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "404 - error: email and message are required",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        160
      ],
      "id": "70d95360-e7d3-472c-aa75-f9bb13fd4107",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1g1nxS-quHpo3NaeTvfWryXyp3EBuCVFbuOFq42icjmE",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g1nxS-quHpo3NaeTvfWryXyp3EBuCVFbuOFq42icjmE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g1nxS-quHpo3NaeTvfWryXyp3EBuCVFbuOFq42icjmE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}",
            "qualification": "={{ $json.qualification }}",
            "priority": "={{ $json.priority }}",
            "summary": "={{ $json.summary }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qualification",
              "displayName": "qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "a92f7480-bc9e-4617-b49f-844ff400fdb6",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XBKAUj8Jj4v8dDJW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aecc4147-684f-4876-ad28-60f47c70e995",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e904d1734ebbf993bd808e0e0345a75a5fca630950f5c4a6c27501a0190e5a51"
  },
  "nodeGroups": [],
  "id": "Q4tLmOp2m88CtPlr",
  "tags": []
}